.card img {
    height: 120px;
    width: fit-content;
    margin: auto;
} 

table {
    line-height: 50px;
}

table thead tr {
    border-bottom: 1px solid grey;
}

table tbody tr:last-child {
    border-bottom: 1px solid grey;
}